{
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaVersion": 2019,
        "ecmaFeatures": {
          "legacyDecorators": true,
          "experimentalObjectRestSpread": true,
        }
    }
}